body{
  background-color: #F0EEED;
  font-size: 15px;
}
p{
  font-family: 'Outfit', sans-serif;
  text-align: center;
  margin: 15px;
  padding-bottom: 15px;
}
.primo_quadrante{
  margin: 20px 20%;
}
.secondo_quadrante{
  background-color: hsl(212, 45%, 89%);
  margin: 200px 5%;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 33%;
  padding-right: 33%;

}
.terzo_quadrante{
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
}
.QR_Code{
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
.improve{
  color: black;
}
.scan{
  font-family: 'serif', sans-serif;
  color: #7F8487;
}
